body{
    background-color: #302e2b;
}

/* Responsive chessboard */
.board-layout-chessboard {
    width: 90vw;
    max-width: 520px;
    min-width: 300px;
}

/* This for point like feature */
/* Change cursor to grabbing hand when dragging a piece */
.square-55d63 .piece-417db {
    cursor: grab; /* Grabbing hand */
}

.board-layout-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.board-layout-player{
    align-self: self-start;
    padding: 10px;
    min-height: 80px;
}

.board-layout-player-left, .board-layout-player-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    gap: 5px;
}

.board-layout-player-left{
    align-items: start;
}

.board-layout-player-right{
    align-items: end;
    background-color: #2b2926;
}

.board-layout-player-name{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: azure;
}

.board-layout-player-captures{
    display: flex;
    color: azure;
    flex-wrap: wrap;
    max-width: 400px;
}

.board-layout-player-timer{
    color: #82817f;
    font-weight: bolder;
}

.board-layout-player-info{
    color: #FFAA00;
}

.board-layout-player-capture-piece{
    width: 20px;
    height: 20px;
}

.pp-prompt{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
}

.pp-container{
    min-width: 300px;
    display: flex;
    height: inherit;
    width: 50%;
    height: 50vh;
    align-items: center;
    justify-content: space-evenly;
    background-color: wheat;
    border-radius: 10px;
}

.pp-piece:hover{
    cursor: pointer;
}

.game-over-container{
    width: 50%;
    height: 50vh;
    max-width: 800px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-over-prompt{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 999;
    align-items: center;
    justify-content: center;
}

.order-top{
    order: 1;
}

.order-bottom{
    order: 3;
}

.last-move{
    background: #9FE2BF;
}